<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="ACH1FT0hoXfW9MNdimYKWKjcA" />
    <add key="ConsumerSecret" value="AYJsK9uLtNQ9Z0s7Tcc2huqmFa2W3jVnV4gVVP05sLcEymsspe" />
    <add key="AccessToken" value="355657573-m0tniU7Ed6dYnG7JY4tdukE4iOomthJv83jb2oMc" />
    <add key="AccessTokenSecret" value="ZhjcvwBVAvXNtoy5VEhw0IKMiEPkgFuNM8zz1EZ5cXGe7" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>